<h1>products</h1>

<div>
  <h3>filter by category : </h3>
  <form id="find-category">
    <input id="categoryname" type="text" />
    <input type="submit" value="filter" />    
  </form>
</div>
<table id="products-table">
  <tr>
    <th>Name</th>
    <th>Sku</th>
    <th>Category</th>   
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Product</a>